<!-- ----- début fragmentGenealogieHeader -->
<html>
  <head>
    <title>Généalogie - LO07 Projet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="LO07, UTT, généalogie, projet LO07, projet">
    <meta name="description" content="Site web de généalogie dans le cadre du projet de LO07 - UTT">
    <meta name="author" content="Maxime Mirgalet & Nathan Vilmen">

    <!-- On peut ajouter des mots clés éventuellement -->

    <link href="../../public/css/bootstrap.css" rel="stylesheet"/>
    <link href="../../public/css/my_css.css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<!-- ----- fin fragmentGenealogieHeader -->

